body{
    background-color: gray;
    margin:0px;
    
}
.StarterDiv {
   height : 100px;
   background-color: orange;
   text-align: center;
   margin: 0px;
  }
.TitleDiv {
    margin: 0cm;
    color: orange;
    border: outset black;
    background-color: black ;
    text-align: center;
}
  
.sTitleDiv {
    margin: 0cm;
    color: white;
    border: outset black;
    background-color: black;
    text-align: center;
}

.RedDiv {
    margin: 0cm;
    border: 1px outset rgb(62, 245, 252);
    height: 175px;
    background-color: rgb(62, 245, 252);
    text-align: center;
}
.CopyrightDiv {
    margin:0cm;
    text-align: center;
}
.SectionTitleDiv {
    background-color: gray;
    text-align: center;
}
.SectionBodyDiv{
    background-color: gray;
    font-size: 0.5cm;
    text-align: left;
}
.picsH {
  border: solid white 3px;
  padding: 5px;
  max-width:300px;
  margin: 5px;
}
.picsV {
    border: solid white 3px;
    padding: 5px;
    max-width: 230px;
    margin: 5px;
  }
.vids {
  border: solid white 3px;
  padding: 5px;
  margin: 5px;
}
.vidsV {
    border: solid white 3px;
    padding: 5px;
    max-height: 374px;
    margin: 5px;
  }
.SectionIAM {
    color: orange;
    font-size: 50 px;
    text-align: center;
}
.ATitleListDiv {
    border: 5px solid lightslategray;
    background-color: lightslategray;
    text-align: center;
}

.logopic {
    max-width: 90px;
}
.shortcutpic {
    max-width: 50px;
}
.para {
    padding: 30px;
}
#QTPSpic {
    max-height:180px;
}
.flex-container {
    display: flex;
  }
  
.flex-container > div {
    margin: 5px;
    font-size: 18px;
  }
a {
    color:blue
}
#aristotle-quote {
    font: italic 40px serif;
}
.AList{
    font:none 25px sans-serif;
}
.Achievement_Shortcut{
    display: flex;
    background-color: DodgerBlue;
}
.Achievement_Shortcut > div {
    background-color:#f1f1f1;
    color: black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
#AIntro {
    padding: 30px;
    font: bold 30px "Helvetica";
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .slideshow2-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides2 {
    display: none;
  }
  
  
  /* Caption text */
  .text2 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }