body{
    background-color: gray;
    margin:0px;
    
}
.StarterDiv {
   height : 100px;
   background-color: orange;
   text-align: center;
   margin: 0px;
  }
.TitleDiv {
    margin: 0cm;
    color: orange;
    border: outset black;
    background-color: black ;
    text-align: center;
}
  
.sTitleDiv {
    margin: 0cm;
    color: white;
    border: outset black;
    background-color: black;
    text-align: center;
}

.RedDiv {
    margin: 0cm;
    border: 1px outset rgb(62, 245, 252);
    height: 175px;
    background-color: rgb(62, 245, 252);
    text-align: center;
}
.CopyrightDiv {
    margin:0cm;
    text-align: center;
}
.SectionTitleDiv {
    background-color: gray;
    text-align: center;
}
.SectionBodyDiv{
    background-color: gray;
    font-size: 0.5cm;
    text-align: left;
}
.picsH {
  border: solid white 3px;
  padding: 5px;
  max-width:300px;
  margin: 5px;
}
.picsV {
    border: solid white 3px;
    padding: 5px;
    max-width: 230px;
    margin: 5px;
  }
.vids {
  border: solid white 3px;
  padding: 5px;
  margin: 5px;
}
.vidsV {
    border: solid white 3px;
    padding: 5px;
    max-height: 374px;
    margin: 5px;
  }
.SectionIAM {
    color: orange;
    font-size: 50 px;
    text-align: center;
}
.ATitleListDiv {
    border: 5px outset lightslategray;
    background-color: lightslategray;
    text-align: left;
}

.logopic {
    max-width: 90px;
}
.shortcutpic {
    max-width: 50px;
}
.para {
    padding: 30px;
}
#QTPSpic {
    max-height:180px;
}