/* organize css codes in the following priority
1. pages & sections
2. by html tags
3. by ids
4. by classes */
/* use comments for trails and it is
preferable for lowercase and snakecase 
- use camelcase for js scripts */

/* all pages */

body{
    background-color: gray;
    margin:0px;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

a {
    color:blue
}

.navbar {
   background-color: orange;
   font-size: 23px;
}
.logopic {
    max-width: 90px;
}

.SectionIAM {
    padding: 30px;
    color: orange;
    font-size: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.SectionTitleDiv {
    background-color: gray;
    text-align: center;
    font-family: "Give You Glory";
}
.SectionBodyDiv{
    background-color: gray;
    font-size: 0.5cm;
    text-align: left;
    font-family: "Give You Glory";
}

/* footer  */
.bottomnav {
    height: calc(90px + 4vw);
    padding: 15px;
    background-color: orange;
    text-align: center;
    font-family: "Give You Glory";
}

.shortcutpic {
    max-width: calc(26px + 3vw);
}

.CopyrightDiv {
    margin: 0px;
    text-align: center;
}

/* Pictures and Videos */
.picsH {
    border: solid white 3px;
    padding: 5px;
    max-width:500px;
    margin: 5px;
  }
  .picsV {
      border: solid white 3px;
      padding: 5px;
      max-width: 200px;
      margin: 5px;
    }
  .vids {
    border: solid white 3px;
    padding: 5px;
    margin: 5px;
    max-width: calc(100px + 35vw);
  }
  .vidsV {
      border: solid white 3px;
      padding: 5px;
      max-height: 374px;
      margin: 5px;
    }

/* _____________________________________ */


/* Index.html */
.indexhead {
    height: calc(500px + 3vw);
    background-color: black;
    padding-top: 80px;
}
.TitleDiv {
    color: orange;
    padding: 15px;
    background-color: black ;
    font-family: 'Raleway', sans-serif;
    font-size: calc(50px + 5vw);
}
  
.sTitleDiv {
    color: white;
    background-color: black;
    padding: 5px 30px;
}

#aristotle-quote {
    border: none;
    padding: 10px 5px;
    font-family: 'Give You Glory', cursive;
    font-size: calc(18px + 3vw);
}

/* ----------------------------------- */
/* achievement page */
ul {
    font-size: calc(14px + 1vw);
    padding: 5px 60px;
    font-family: 'Raleway', sans-serif;
}

.Achievement_Shortcut{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
}
.Achievement-cert{
    align-items: baseline;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    margin: 15px;
}
.Achievement-cert > div{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Give You Glory', cursive;
    padding: 30px;
}
.Jbtn {
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
}

.btn {
    margin: 8px;

}
#AIntro {
    padding: 30px;
    font-family: 'Give You Glory', cursive;
    font-size: calc(16px + 1vw);
    font-weight: 700;
}

/* ----------------------------------- */
/* coding page */
#mopeio {
    max-width: 470px;
    height: 364px;
    border: solid beige 3px;
    padding: 5px;
    margin: 5px;
}

#mySlides { 
    justify-content: center;
    max-width: 470px;
    border: solid beige 3px;
    padding: 5px;
    margin: 5px;
}
/* ----------------------------------- */
/* violin page */

#violin_pic {
    max-width: 300px;
    border: solid darkslategray 2px;
    border-radius: 10px;
}
#violin_vid {
    max-width: 280px;
    margin: -40% 0;
}
.vidflow {
    max-width: 280px;
    overflow:hidden;
    display:block;
    border: solid darkslategray 2px;
    padding: 5px;
    margin: 5px 5px 30px 5px;
}
.violin_iframes {
    max-width: 280px;
    border: solid darkslategray 2px;
    padding: 5px;
    margin: 5px 5px 30px 5px;
}
.para {
    padding: 10px 5px;
    font-size: calc(12px + 0.75vw);
    font-family: 'Raleway', sans-serif;
    min-width: 300px;
}

/* ----------------------------------- */
/* sports page */
/*------------------------------------ */
/* dream job page */

#Geneticpic1 {
    margin: 10px;
    padding: 5px;
    height: calc(100px + 30vw);
    width: calc(100px + 30vw);
    border: 1px solid white;
}
#Geneticpic2 {
    margin: 10x;
    padding: 5px;
    height: calc(100px + 20vw);
    width: calc(100px + 35vw);
    border: 1px solid white;
}
#Geneticpic3 {
    margin: 10px;
    padding: 5px;
    height: calc(100px + 20vw);
    width: calc(100px + 35vw);
    border: 1px solid white;
}