body{
    background-color: gray;
    margin:0px;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}
.navbar {
   background-color: orange;
}
.TitleDiv {
    margin: 0cm;
    color: orange;
    border: 5px solid black;
    background-color: black ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: calc(50px + 4vw)
}
  
.sTitleDiv {
    margin: 0cm;
    color: white;
    border: solid black;
    background-color: black;
    text-align: center;
}

.bottomnav {
    height: 120px;
    padding: 15px;
    background-color: orange;
    text-align: center;
    font-family: "Give You Glory";
}
.CopyrightDiv {
    margin:0cm;
    text-align: center;
}
.SectionTitleDiv {
    background-color: gray;
    text-align: center;
    font-family: "Give You Glory";
}
.SectionBodyDiv{
    background-color: gray;
    font-size: 0.5cm;
    text-align: left;
    font-family: "Give You Glory";
}
.picsH {
  border: solid white 3px;
  padding: 5px;
  max-width:500px;
  margin: 5px;
}
.picsV {
    border: solid white 3px;
    padding: 5px;
    max-width: 230px;
    margin: 5px;
  }
.vids {
  border: solid white 3px;
  padding: 5px;
  margin: 5px;
}
.vidsV {
    border: solid white 3px;
    padding: 5px;
    max-height: 374px;
    margin: 5px;
  }
.SectionIAM {
    color: orange;
    font-size: 50 px;
    text-align: center;
    font-family: "Give You Glory";
}
.ATitleListDiv {
    border: 5px solid lightslategray;
    background-color: lightslategray;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.logopic {
    max-width: 90px;
}
.shortcutpic {
    max-width: calc(28px + 4vw);
}
.para {
    padding: 30px;
}
#QTPSpic {
    max-height:180px;
}
.flex-container {
    display: flex;
    justify-content:center;
  }
  
.flex-container > div {
    margin: 5px;
    font-size: 18px;
  }
a {
    color:blue
}
#aristotle-quote {
    font-family: 'Give You Glory', cursive;
    font-size: calc(20px +3vw);
}
.AList{
    font:none 25px sans-serif;
}
.Achievement_Shortcut{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
}
.btn {
    margin: 8px;

}
#AIntro {
    padding: 30px;
    font-family: 'Give You Glory', cursive;
    font-size: calc(16px + 3vw);
    font-weight: 700;
}
.imgs {
    width:500px;
}
#mySlides{ 
    justify-content: center;
}

